<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radian 4</title>
</head>

<body>
    <!--section 1-->
    <style>
        .row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 100px;
            /* Adjust the gap between columns */
        }

        .column {

            padding: 10px;
            /* Add padding to columns */

        }
    </style>
    <div class="container" style="display: flex; color: white; background-color: black;  padding-left: 60px; ; ">

        <div class="column" style="align-items: start;"> LOAN DETAILS: &nbsp; &nbsp; &nbsp; &nbsp; </div>
        <div class="column " style="align-items: center;">
            <label> Term Loan
                <input type="checkbox">
            </label>


        </div>
        <div class="column" style="align-items: center;">
            <label> Overdraft
                <input type="checkbox">
            </label>

        </div>
        <div class="column" style="text-align: end;">
            <label> Loan Amount (Rs)
                <input type="text">
            </label>
        </div>
    </div>
    <div>
        <p style="line-height: 30px;">
            Tenure (Months): ___________________ROI ( % p.a)____________ Processing Fee _____________Part/Preclosure Fee
            ______ for
            ___________ (Months) Valuation Fee (Rs.)_______________________Interest Repayment Mode: _______ Monthly/
            Quarterly / Half yearly / Yearly
            Interest Payment_______________Bullet Payment__________EMI Payment____________ Standing Instruction: 1st
            __________ 4th _______ 7TH________ Front
            Ended________ Rear Ended__________ ECS ________EMI____________Mode of Disbursement: Cash/DD RTGS / NEFT A/C
            Credit A/C No. _____________________IFSC Code:____________________Bank Name:
            ___________________________________A/C Name:_________________</p>
    </div>
    <p style="font-size: small;">
        T&C:i) I/We hereby authorize Radian to carry out the RTGS/NEFT transaction as per details mentioned above. ii) I
        /We understand that RTGS/NEFT request is subject to the RBI regulations and
        auidelines aoverning the same. iii) I/We hereby agree that aforesaid details including IFSC code and the
        beneficiarv account are correct. I/We further acknowledae that Radian Finserv accents no
        liability for anv consequences arisina out of erroneous details provided by me/us. iv) /We understand that the
        Overdraft facility shall be for initial tenure of 12 months from the date of the first disbursement of the Loan
        or the date of first sanction of the Loan, as the case may be and renewed from time to time at Radian's sole and
        absolute discretion for such further periods upto the maximur of 36 months from the date of the first
        disbursement of the Loan or the date of first sanction of the Loan. as the case mav be. and on such terms and
        conditions as mav be specitied by the bank.
    </p>
    <p style="line-height: 35px;">
        Relationship with other Bank/Company:
        &nbsp; Applicant is a director of any Bank or is a Firm in which any director is interested as partner /
        guarantor or
        is a relative of directors of other banks or is a firm in which relatives of directors are interested as partner
        or director.<br>
        Relationship with Financing Company:
        &nbsp; Applicant is a Director / Sr. Officer / relative of director or Sr. Officer of the company.<br>
        Nature of Relationship
    </p>
    <!--section 2 starts-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 200px;  ">
        Do not sign this form if it is BLANK, Please ensure all relevant sections and columns are completely filled to
        your satisfaction and then only sign the form.
    </div>
    <style>
        .container {
            display: flex;
        }

        .column {
            flex: 1;
        }

        .photo-box {
            width: 250px;
            height: 80px;
            border: 1px solid #000;
            padding: 10px;
            align-items: end;
            margin-left: 50%;
            margin-top: 80px;


        }
    </style>
    <div class="container">
        <div class="column">
            <!--content for column 1-->
            <p style="color: red;"> I consent / do not consent to receive information / services etc. for marketing
                purposes through Telephone/Mobile/SMS/Emails by Radian/its agent. I confirm that, I have read and
                understood the Declaration, and that all the details provided on the form are true and correct. I agree
                and acknowledge that only direct telephone numbers (not board / general telephone numbers of
                office/corporates/employers) will be accepted for registration of "Do not Call". I am aware that post
                registration, I may receive a call from Radian to verify the correctness of the request for
                registration. I authorize Radian to disclose, from time to time any information relating to my Loan
                against Gold Jewellry relationship to any parent, subsidiary, affiliate and associate of Radian, and to
                third parties engaged by Radian, for purpose such as Customer signed in my presence Branch Manager / PBA
                marketing of services. I/We confirm that I/We do not have any existing customer ID or customer ID apart
                from the one mentioned above, and in case found otherwise, Radian reserves the right to consolidate the
                customer Ids under a single customer ID as it may decide, without any prior notice to me/us.</p>
        </div>
        <div class="column">
            <!-- Content for column 2 -->
            <div class="photo-box" style="align-content: end; text-align: center;">
                Customer Signed in my Presence <br>
                Branch Manager/ PBA
            </div>
        </div>
    </div>
    Transaction type : <label> Fresh
        <input type="checkbox">
    </label>
    <label> Renewal
        <input type="checkbox">
    </label>
    <label> TopUp
        <input type="checkbox">
    </label>
    <label> Product: Agri
        <input type="checkbox">
    </label>
    <label> PSL-Other
        <input type="checkbox">
    </label>
    <label> Gold OD
        <input type="checkbox">
    </label>
    <label> Sovereign Gold Bond
        <input type="checkbox">
    </label>
    <label> KGC Swarna
        <input type="checkbox">
    </label>
    Others ________________ <br>
    <div class="container" style="margin-top: 20px;">
        <label>
            Br.Name: <input type="text"> &nbsp;
        </label>
        <label>
            Br.Code: <input type="text"> &nbsp;
        </label>
        <label>
            Source Br.Code: <input type="text"> &nbsp;
        </label>
    </div>
    <br>
    Credit Program: &nbsp; <label>
        Managed <input type="checkbox"> &nbsp;
    </label>
    <label>
        Non-Managed <input type="checkbox"> &nbsp;
    </label>
    <label>
        New to Radian (NTR) <input type="checkbox"> &nbsp;
    </label>
    <label>
        External <input type="checkbox"> &nbsp;
    </label>
    <p style="line-height: 30px;">
        GL LM/SLM Code:__________________________________ ABM Code:____________________ DSA Code:______________________
        <br>
        GL Product Code: _______________________ Sales Promotion Code:________________________
    </p>
    <h1 style="color: blue; font-size: larger;"> KYC Verification Carried Out by (For office Use Only)</h1>
    <p style="line-height: 30px;">
        EMP.Code:___________________ EMP .Name:___________________________ EMP .Designation:___________________
        EMP.Branch:______________________ <br>
        Date:__________________
    </p>
    <br>
    <br>
    Employee Signature & Radian Stamp
    <!--section 3 starts-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 550px;  ">
        Thumb Impression or Vernacular Language Declaration
    </div>
    <p>
        I have understood the entire agreement constituting all clauses including the "Declaration cum Terms and
        Conditions of Loan Collateralized by Gold", which has been filled in my presence. I shall be bound to all the
        conditions including the details stated in the agreement. The legal documents have been explained to me in the
        language understood by me and I have understood the entire meaning of the various clauses stated in the legal
        documents. I have affixed my thumb impression/signed in vernacular lanquage after understanding the contents of
        the legal documents.
    </p>
    <p style="line-height: 30px;">
        The contents of this document have been read and translated to Mr/Ms_________________________
        (name or the borrower) in _________(regional language to be captured), being the language known by him/her &
        he/she has understood
        the same & affixed his/her thumb impression / signature in vernacular language to this documents.
    </p>
    <div class="row">
        <div class="column">
            Explained by me & <br>
            <br>
            Executed in my presence
            <br>
            <br>
            Signature:____________________
            <br>
            <br>
            Name: _________________________
            <br>
            <br>
            Adddress:________________________ <br>
            _____________________________________
            <br>
            <br>
            Place:_________________________________
        </div>
        <div class="column">Understood by me <br>
            <br>
            Signature:______________________
            <br>
            <br>
            Thumb Impression:______________________________ <sub>(Male-left, Female- right)</sub>
            <br>
            <br>
            Name of borrower:_______________________ <br>
            <br>
            <br>
            Date:_________________________________
        </div>
        <div class="column">
            Executed in my Presence <br>
            <br>
            Signature:_________________
            <br>
            <br>
            Name of ABM :__________________
            <br>
            <br>
            Emp.Code:_________________________
        </div>
    </div>
    <!--section 4 starts-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 550px;  ">
        Politically Exposed Person (PED) Declaration
    </div>
    <p>Politically Exposed Person are individuals who are or have been entrusted with prominent public function in India
        or in foreign country, e.g. Heads of States or of Governments, senior government / judicial / military officers,
        senior executives of state-owned corporations important political party officials, etc</p>
    <b>Please Tick Yes/No:</b>
    <p>1st Applicant PEP/Relatives and close Associate of PEP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; YES &nbsp; NO</p>
    <p>Co Applicant PEP/Relatives and close Associate of PEP &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; YES &nbsp; NO</p>
    <!--section 5 starts-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 400px;  ">
        Declaration on submission of chain with black beads for Gold Loan (Mangalsutra will not be accepted)
    </div>
    <p>I, hereby confirm that I have availed Gold Loan against Chain with black beads & other jewellery items and this
        has been submitted with my consent. In case of any default against the extended loan I authorize Radian to
        auction Chain with black beads along with other jewellery as per the terms and conditions mentioned and I do not
        have any objection to the same</p>
    <br>
    <div class="row">
        <div class="column">
            <p>Borrower Name:</p>
        </div>
        <div class="column" style="text-align: end;">
            <p>Signature: </p>
        </div>
    </div>
    <!--section 6-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 550px;  ">
        Declaration on Pledging Broken Jewellery
    </div>
    <p> I hereby declare and confirm that the gold ornaments provided for availing the loan from Radian is in broken
        state
        and request radian to accept the same. I further declare that Radian will not be responsible for any further
        damage to these ornament/s in future, if any. Broken Jewellery Items:-</p>
    <div class="row">
        <div class="column">1._____________________________________________ <br>
            <br>Borrower Name:
        </div>
        <div class="column">2._____________________________________________</div>
        <div class="column">3.____________________________________________ <br>
            <br> Signature:
        </div>
    </div>
    <!--last section-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 600px;  ">
        MSME Declaration
    </div>
    <p style="line-height: 30px;">I, Proprietor / Individual of M/s._________________________ declare that ,
        M/s._______________________is engaged into business of Manufacturing / Trading/ Services
        of______________________ The original cost / investment (Gross Block)of plant and Machinery / equipment used to
        run the business was Rs._____________________________(approximately). The
        Turnover of my business is Rs_____________________________ . Declaration has been given on behest of Radian for
        PSL Classification. <br> Borrower Name:___________________________ Signature:______________________________
    </p>




</body>

</html>