<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Radian 3</title>
</head>

<body>

    <nav>
        <div class="company-name ; p-5" style="margin-left: 50px;">

            <img src="{{ logo_path }}" height="150" width="150">
        </div>
    </nav>

    <header>
        <h1 style="text-align: center;">
            Radian Finserv Private Limited </h1>
        <div style="text-align:center; color: grey;">
            Head Office: 1st Floor, CPN Arcade, No.13, 7th Main Road, <br>
            Next to IDBI Bank, Subbayana Palya, Banaswadi , Banglore 560 033.
        </div>
    </header>
    <h1 style="text-align: center; margin-top: 50px;">
        Gold Appraiser Report. </h1>
    <p style="text-align: end; margin-left:50px;">Master Sheet</p>

    <!--table starts-->
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-right: 30px;
            margin-left: 1px;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
    <table>
        <thead>
            <thead style="border-bottom:none;">
                <tr>
                    <td colspan="9" style="text-align: left;"><b>Customer Name:</b> </td>
                    <td style="text-align: left;"><b>Date:</b></td>
                </tr>
                <tr>
                    <td colspan="9" style="text-align: left;"> <b>Loan Number:</b> </td>
                    <td style="text-align: left;"><b>Serial No:</b></td>
                </tr>
                </tr>

            </thead>
            <tr>
                <th rowspan="3">S.No</th>
                <th rowspan="3">Name of the Jewellery</th>
                <th rowspan="3">No.of Items</th>
                <th rowspan="3">Gross Wt.</th>
                <th rowspan="3">Net Wt.</th>
                <th rowspan="3">Deduction</th>
                <th colspan="3">Purity</th>
                <th rowspan="3">Remarks</th>
            </tr>
            <tr>
                <th>Ap 1</th>
                <th>Ap 2</th>
                <th>Ap 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>2</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>3</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>4</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>5</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>6</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>7</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>8</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>9</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>10</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>11</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        <tfoot class="no border-box">
            <tr>
                <td colspan="9"><b>Name & Employee ID LM/ SLM:_______________________________</b> </td>
                <td><b>Signature:___________________________________</b></td>
            </tr>
            <tr>
                <td colspan="9"> <b>Name & Employee ID ABM/ BM:_______________________________</b> </td>
                <td><b>Signature:___________________________________</b></td>
            </tr>
            </tr>
            <tr>
                <td colspan="9"> <b>Name & Employee ID Auditor:_______________________________</b> </td>
                <td><b>Signature:___________________________________</b></td>
            </tr>
            </tr>
        </tfoot>
        </tbody>
    </table>
    <p><b>Note: This slip has to be put in the gold packet.</b></p>

</body>

</html>