<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radian 1</title>
</head>


<nav>
    <div class="company-name ; p-5" style="margin-left: 50px;">

        <img src="{{ logo_path }}" height="150" width="150">
</nav>
<header>
    <h1 style="text-align: center;">
        Radian Finserv Private Limited </h1>
    <div style="text-align:center; color: grey;">
        Head Office: 1st Floor, CPN Arcade, No.13, 7th Main Road, <br>
        Next to IDBI Bank, Subbayana Palya, Banaswadi , Banglore 560033.
    </div>
    <p style="text-align: end; margin-right: 60px;"> <b> Date: _____________ </b></p>
</header>
<h1 style="text-align: center;"> <u> Demand Promissory Note </u></h1>
<!--text section starts-->
<div class="container" style="margin-left: 50px; margin-right: 50px;">
    <p style="line-height: 30px;">
        Demand Promissory Note For value received, the undersigned jointly and severally promise to pay to the order of
        _________________________________the sum of INR_______________________________
        together with interest of_________________________________
        % per annum on the unpaid balance. The entire unpaid principal and any accrued interest shall be fully and
        immediately payable UPON DEMAND of any holder hereof. Upon
        default in making payment within__________ days of demand, and provided this note is turned
        over for collection, the undersigned agree(s) to pay all reasonable legal fees and costs of collection to the
        extent
        permitted by law. This note shall take effect as a sealed instrument and be enforced in accordance with the laws
        of
        the payee's state. All parties to this note waive presentment, notice of non-payments, protest and notice of
        protest, and agree to remain fully bound notwithstanding the release of any party, extension or modification of
        terms, or discharge of any collateral for this note.</p>
    <br>
    <p> Signed under seal this (Date)____________</p>
    <br>
    <section style="margin-top: 60px ;">
        Signature of Borrower
    </section>
</div>
<p style=" margin-right: 50px ; padding-left: 80%;"> Date:</p>
<div class="rext-area" style="padding-top: 5%; padding-left:80%;  margin-right: 50px;border: 1px black ">
    <textarea name="" id="" cols="15" rows="5">Seal Here</textarea>
</div>
<footer>
    <hr style="margin-top: 150px; border: 1px solid black;">
    <p style="text-align: center; font-size: small;"> Radian Finserv Private Limited 1st Floor, CPN Arcade, No. 13, 7th
        Main Road, Next to IDBI Bank, Subbayana Palya, Banaswadi, Bangalore 560 033.</p>
</footer>




<body>

</body>

</html>