<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>radian 5</title>
</head>

<body>
    <!--head-->
    <header>
        <style>
            .row {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                grid-gap: 10px;
                /* Adjust the gap between columns as desired */
            }

            .col {
                padding: 10px;

            }

            .narrow {
                grid-column: 2;
                /* Place the element in the second column */
            }
        </style>

        <div class="row">
            <div class="col">
                <style>
                    .box {
                        width: 400px;
                        /* Adjust the width as desired */
                        height: 100px;
                        /* Adjust the height as desired */
                        border: 1px solid black;
                        /* Add a border */
                        /* Add additional styles such as padding, margin, etc. */
                    }
                </style>

                <div class="box">
                    <P style="font-size: 24px;"><b> GOLD LOAN APPLICATION FORM </b></P>

                    <p style="font-size: small;"> Application Date:_______________ &nbsp; Index #:_____________________
                    </p>
                </div>
                <p style="font-size: small;"><b>FILL ALL FIELDS IN CAPITAL LETTERS ONLY</b></p>
            </div>
            <div class="col narrow">
                <div class="company-name ; p-5" style="margin-left: 150px;">

                    <img src="{{ logo_path }}" height="150" width="150">
                </div>
            </div>

            <div class="col">
                <h1 style="text-align: left; display: inline;">
                    Radian Finserv Private Limited </h1>
                <div style="text-align:left; color: grey;">
                    Head Office: 1st Floor, CPN Arcade, No.13, 7th Main Road,
                    Next to IDBI Bank, Subbayana Palya, Banaswadi , Banglore 560 033.
                </div>
            </div>
        </div>
    </header>
    <!--section 2-->
    <div class="container" style=" color: white; background-color: black;">
        <div class="row">
            <div class="col">APPLICANT DETAILS:</div>
            <div class="col">
                <label>Borrower
                    <input type="checkbox" id="my" name="myCheckbox">
                </label>
            </div>
            <div class="col">
                <label>Co-Borrower
                    <input type="checkbox" id="my" name="myCheckbox">
                </label>
            </div>
        </div>
    </div>
    <br>
    <span style="margin-top: 300px;">
        <label for="myCheckbox">Mr
            <input type="checkbox" id="myC" name="myCheckbox">
        </label>
        <label for="myCheckbox">Mrs.
            <input type="checkbox" id="myCh" name="myCheckbox">
        </label>
        <label for="myCheckbox">Ms
            <input type="checkbox" id="myChe" name="myCheckbox">
        </label>
        <label for="myCheckbox">Dr
            <input type="checkbox" id="myChec" name="myCheckbox">
        </label>
    </span>
    <div class="container" style="line-height: 0px;">
        <p>Borrower's Name:</p><br>
        <p>Maiden Name:</p><br>
        <p>Father's Name:</p><br>
        <p>Mother's Name:</p><br>
        <p>Date of Birth:____________ &nbsp; Gender: &nbsp; <label for="male">Male
                <input type="checkbox" id="male" name="male">
            </label>
            <label for="Female">Female
                <input type="checkbox" id="female" name="Female">
            </label>
            <label for="trans">Transgender
                <input type="checkbox" id="trans" name="trans">
            </label> &nbsp; Status: &nbsp; <label for="">Married
                <input type="checkbox" id="married" name="married">
            </label>
            <label for="singke">Single
                <input type="checkbox" id="single" name="single">
            </label>
            Others:____________
        </p>
        Education: &nbsp; <label for="ug">Under Grdatuate
            <input type="checkbox" id="ug" name="ug">
        </label>
        <label for="g">Graduate
            <input type="checkbox" id="g" name="g">
        </label>
        <label for="pg">Post Graduate
            <input type="checkbox" id="pg" name="pg">
        </label>
        Others:_________________
    </div>
    <style>
        .row {
            display: flex;
            margin-top: 30px;
        }

        .column {
            flex: 1;
        }

        .photo-box {
            width: 180px;
            height: 280px;
            border: 1px solid #000;
            padding: 10px;
            align-items: end;
            margin-left: 70%;
            margin-top: 30px;
        }
    </style>
    <div class="row">
        <div class="column">
            Religion:________________ &nbsp;
            <label for="sc">SC
                <input type="checkbox" id="sc" name="sc">
            </label>
            <label for="st">ST
                <input type="checkbox" id="st" name="st">
            </label>
            <label for="obc">OBC
                <input type="checkbox" id="obc" name="obc">
            </label>
            <label for="min">Minority
                <input type="checkbox" id="min" name="min">
            </label>
            <label for="other">Others
                <input type="checkbox" id="other" name="other">
            </label>
            Disability: Y / N <br>
            <br>Driving License No:___________________________ &nbsp; Exp. Date: _________________________<br>
            <br>Passport No:___________________________ &nbsp; Exp. Date: _________________________ <br>
            <br>Mobile No:___________________________ &nbsp; Alt. Mobile No: _________________________ <br>
            <br> PAN No:_____________________________ &nbsp; Voter ID:____________________________ <br>
            <br>Email ID:____________________________________________________________________ <br>
            <br> CKYC No:_______________________________________________________________ <br>
            <br> UPI ID / VPA: ___________________________________________________ (Job card issued by NREGA) <br>
            <br> Aadhaar No: __________________________ (Letter issues by the national population register)<br>
            <br> Nationality:______________ <br>
            <br> Residental Status:__________________
        </div>
        <div class="column">
            <div class="photo-box">
                <p>Passport Size photo with customers cross signature</p>
            </div>
        </div>
    </div>
    <!--section 3-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 20px;  ">
        ADDRESS DETAILS:
    </div>
    <br>
    Present Recidence (Tick One) &nbsp;
    <label for="own">Owned
        <input type="checkbox" id="own" name="own">
    </label>
    <label for="par">Parents
        <input type="checkbox" id="par" name="par">
    </label>
    <label for="cp">Co.Provided
        <input type="checkbox" id="cp" name="cp">
    </label>
    <label for="rent">Rented
        <input type="checkbox" id="rent" name="rent">
    </label>
    &nbsp; If rented, Monthy Rent (Rs.):________________ <br>
    <br> Permanent Address
    (Residence):______________________________________________________________________________________________________<br>
    <br> City:____________________________
    Pincode:________________________ &nbsp; STD: ___________________________ &nbsp; Tel:____________________ &nbsp;
    City:____________
    <hr>
    <br>
    Present Residence (Tick one) in case the Permanent address is same as residence address <br>
    Permanent Residence (Tick One) &nbsp;
    <label for="own">Owned
        <input type="checkbox" id="own" name="own">
    </label>
    <label for="par">Parents
        <input type="checkbox" id="par" name="par">
    </label>
    <label for="cp">Co.Provided
        <input type="checkbox" id="cp" name="cp">
    </label>
    <label for="rent">Rented
        <input type="checkbox" id="rent" name="rent">
    </label> &nbsp; If rented, Monthy Rent (Rs.):________________
    <br>
    <br> Permanent Address
    (Residence):______________________________________________________________________________________________________<br>
    <br> City:____________________________
    Pincode:________________________ &nbsp; STD: ___________________________ &nbsp; Tel:____________________ &nbsp;
    City:____________
    <hr>
    Business / Employer Name:___________________________________ <br>
    <br>
    Address:______________________________________________________________________________________________________<br>
    <br> City:____________________________
    Pincode:________________________ &nbsp; STD: ___________________________ &nbsp; Tel:____________________ &nbsp;
    City:____________
    <hr>
    <!--table-->
    <!-- <style>
        table {
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
            padding: 5px;
        }
    </style> -->

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td width="20%">Occupation</td>
                <td>
                    <label for="Salaried">Salaried
                        <input type="checkbox" id="Salaried" name="Salaried"> &nbsp;
                    </label>
                    <label for="Business "> Business
                        <input type="checkbox" id="Business " name="Business "> &nbsp;
                    </label>
                    <label for="Self "> Self-employed-Professionals
                        <input type="checkbox" id="Self " name="Self"> &nbsp;
                    </label>
                    <label for="Retired "> Retired
                        <input type="checkbox" id="Retired " name="Retired "> &nbsp;
                    </label>
                    <label for="Housewife "> Housewife
                        <input type="checkbox" id="Housewife " name="Housewife ">
                    </label>
                    Others:_________________
                </td>
            </tr>
            <tr>
                <td>Constitution</td>
                <td>
                    <label for="Indivisual"> Indivisual
                        <input type="checkbox" id="Indivisual " name="Indivisual"> &nbsp;
                    </label>
                    <label for="HUF "> HUF
                        <input type="checkbox" id="HUF " name="HUF"> &nbsp;
                    </label>
                    <label for="Pvt "> Pvt. Ltd.Co
                        <input type="checkbox" id="Pvt" name="Pvt "> &nbsp;
                    </label>
                    <label for="Partnership "> Partnership firm/LLP(only indian,not outside india)
                        <input type="checkbox" id="Partnership " name="Partnership"> &nbsp;
                    </label>
                    <label for="Proprietary "> Proprietary Concern
                        <input type="checkbox" id="Proprietary " name="Proprietary "> &nbsp;
                    </label>
                    Others:____________
                </td>
            </tr>
            <tr>
                <td>Salaried-Industry / job type</td>
                <td><label for="Pvt.Ltd.Co "> Pvt.Ltd.Co
                        <input type="checkbox" id="Pvt.Ltd.Co" name="Pvt.Ltd.Co"> &nbsp;
                    </label>
                    <label for="Public Ltd. "> Public Ltd.
                        <input type="checkbox" id="Public Ltd. " name="Public Ltd. "> &nbsp;
                    </label>
                    <label for="Govt. "> Govt.
                        <input type="checkbox" id="Govt. " name="Govt. ">&nbsp;
                    </label>
                    <label for="Medical "> Medical
                        <input type="checkbox" id="Medical " name="Medical">&nbsp;
                    </label>
                    <label for="Banking "> Banking
                        <input type="checkbox" id="Banking " name="Banking">&nbsp;
                    </label>
                    <label for="MNC "> MNC
                        <input type="checkbox" id="MNC " name="MNC">&nbsp;
                    </label>
                    <label for="Financial "> Financial Services
                        <input type="checkbox" id="Financial " name="Financial">&nbsp;
                    </label>
                    <label for="Teaching "> Teaching
                        <input type="checkbox" id="Teaching " name="Teaching">&nbsp;
                    </label>
                </td>
            </tr>
            <tr>
                <td>-</td>
                <td><label for="Defence "> Defence
                        <input type="checkbox" id="Defence" name="Defence">
                    </label>
                    <label for="Pensioner "> Pensioner
                        <input type="checkbox" id="Pensioner" name="Pensioner ">
                    </label>
                    <label for="NBFC"> NBFC
                        <input type="checkbox" id="NBFC" name="NBFC ">
                    </label>
                    <label for="PSU "> PSU
                        <input type="checkbox" id="PSU " name="PSU">
                    </label>
                    Others:____________
                </td>
            </tr>
            <tr>
                <td>Self Employed-Industry type</td>
                <td><label for=" Agri Based "> Agri Based
                        <input type="checkbox" id=" Agri Based" name=" Agri Based"> &nbsp;
                    </label>
                    <label for="Trader "> Trader
                        <input type="checkbox" id="Trader " name="Trader"> &nbsp;
                    </label>
                    <label for="Builder"> Builder
                        <input type="checkbox" id="Builder" name="Builder "> &nbsp;
                    </label>
                    <label for="Housewife "> House Wife
                        <input type="checkbox" id="Housewife " name="Housewife "> &nbsp;
                    </label>
                    <label for="Service Provider"> Service Provider
                        <input type="checkbox" id="Service Provider " name="Service Provider "> &nbsp;
                    </label>
                    <label for="Manufacturing "> Manufacturing
                        <input type="checkbox" id="Manufacturing " name="Manufacturing"> &nbsp;
                    </label>
                </td>
            </tr>
            <tr>
                <td>-</td>
                <td><label for="Home "> Home Based Business 
                        <input type="checkbox" id="Home " name="Home "> &nbsp;
                    </label>
                    <label for="Wholesale "> Wholesale/Retailers
                        <input type="checkbox" id="Wholesale" name="Wholesale"> &nbsp;
                    </label>
                </td>
            </tr>
            <tr>
                <td>Self-employed-Professionals</td>
                <td>
                    <label for="Doctor"> Doctor
                        <input type="checkbox" id="Doctor " name="Doctor"> &nbsp;
                    </label>
                    <label for="CA "> CA
                        <input type="checkbox" id="CA " name="CA "> &nbsp;
                    </label>
                    <label for="Consultant"> Consultant
                        <input type="checkbox" id="Consultant" name="Consultant"> &nbsp;
                    </label>
                    <label for="Architect "> Architect
                        <input type="checkbox" id="Architect" name="Architect"> &nbsp;
                    </label>
                    Others:___________
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    Net Annual Income(Rs.):_______________________

    <!--last section-->
    <div class="container" style="display: flex; color: white; background-color: black; padding-left: 20px;  ">
        PURPOSE OF LOAN:
    </div>
    <br>
    <label for="Land Development">Land Development
        <input type="checkbox" id="Land Development" name="Land Development"> &nbsp;
    </label>
    <label for="Purchase of seeds">Purchase of seeds
        <input type="checkbox" id="Purchase of seeds" name="Purchase of seeds"> &nbsp;
    </label>
    <label for="Plantation expenses">Plantation expenses
        <input type="checkbox" id="Plantation expenses" name="Plantation expenses"> &nbsp;
    </label>
    <label for="Fencing of Agricultural Land/livestock">Fencing of Agricultural Land/livestock
        <input type="checkbox" id="Fencing of Agricultural Land/livestock"
            name="Fencing of Agricultural Land/livestock">
    </label> <br>
    <br>
    <label for="Purchase"> Purchase of Agricultural equipment like pump sets, sprayers, diary animals etc.
        <input type="checkbox" id="Purchase" name="Purchase">
    </label>
    <label for="Payment"> Payment of labor expenses incurred in cultivation of land.
        <input type="checkbox" id="Payment" name="Payment">
    </label>
    <br>
    <br> <label for="Home">Home Renovation
        <input type="checkbox" id="Home" name="Home">
    </label>
    <label for="Medical"> Medical Expenses
        <input type="checkbox" id="Medical" name="Medical">
    </label>
    <label for="Travel"> Travel Expenses
        <input type="checkbox" id="Travel" name="Travel">
    </label>
    <p> Land holding:______________________Acers at:______________________Details of poultry / dairy /
        fishery:______________________ Business Description_____________________Employees
        #____________________________Years in Business______________________
        Original Investment in Plant & Machinery/Equipment (in lacs) Rs____________ Institution Name /Course
        Name:__________</p>
</body>

</html>