<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radian 2</title>
</head>

<body>

    <nav>
        <div class="company-name ; p-5" style="margin-left: 50px;">

            <img src="{{ logo_path }}" height="150" width="150">
        </div>
    </nav>

    <header>
        <h1 style="text-align: center;">
            Radian Finserv Private Limited </h1>
        <div style="text-align:center; color: grey;">
            Head Office: 1st Floor, CPN Arcade, No.13, 7th Main Road, <br>
            Next to IDBI Bank, Subbayana Palya, Banaswadi , Banglore 560 033.
        </div>

    </header>

    <p style="padding-left: 50px; margin-top: 25px;">Date: __/__/____</p>

    <!--next section-->

    <div style="margin-left: 85%;">
        <form>

            <label for="account-number">Loan Account No.</label>
            <input type="text" id="account-number" name="account-number">
        </form>
    </div>
    <div style="margin-left: 85%; margin-top: 30px;">
        <form>

            <label for="token-number">Token No.</label>
            <input type="text" id="token-number" name="token-number">
        </form>
    </div>
    <h1 style="text-align: center;"> Pledge Card Customer Copy</h1>


    <!--next section-->

    <style>
        .container {
            display: flex;
        }

        .column {
            flex: 1;
        }

        .photo-box {
            width: 120px;
            height: 180px;
            border: 1px solid #000;
            padding: 10px;
            align-items: end;
            margin-left: 80%;

        }
    </style>


    <div class="container">
        <div class="column">
            <!--content for column 1-->
            <p>Customer name:_______________________________________</p>
            <p>Branch Name:_________________________________________</p>
            <p>Branch Code:__________________________________________</p>
            <p>Total Weight (in grams):________________________________</p>
            <p>Loan Amount:___________________________________________</p>
            <p>Due Date:______________________________________________</p>
            <p>Product/ Scheme:________________________________________</p>
        </div>
        <div class="column">
            <!-- Content for column 2 -->
            <div class="photo-box" style="align-content: end;">
                profile photo
            </div>

        </div>
    </div>

    <h1 style="text-align: center;"> Details of Pledged Ornaments</h1>
    <!--table starts-->
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-right: 30px;
            margin-left: 1px;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th rowspan="2">S.no</th>
                <th rowspan="2">Name of the jewellery</th>
                <th rowspan="2">No of Units.</th>
                <th rowspan="2">Value</th>
                <th colspan="4">Weight(in grams) </th>
            </tr>
            <tr>
                <th>Purity</th>
                <th>GW</th>
                <th>NW</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    1.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    2.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    3.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    4.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    5.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    6.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    7.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    8.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>
                    9.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    10.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>
                    11.
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>
            <tr>
                <td>

                </td>
                <td>Total.</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>

            </tr>

        </tbody>
    </table>
    <ul style="margin-left: 30px;">
        <li> I hereby acknowledge that these are the ornaments that have been pledged with my knowledge.</li>
    </ul>
    <style>
        .container {
            display: flex;
            margin-top: 120px;
            font-size: larger;
            margin-left: 50px;
            margin-right: 50px;
        }

        .column {
            flex: 1;
        }
    </style>

    <div class="container">
        <div class="column">
            <b>Authorized Signatory.</b>
        </div>
        <div class="column" style=" text-align: end;">
            <b>Signature of customer</b>
        </div>
    </div>


</body>

</html>