<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;">Date : 12/01/2024</p>
<p style="line-height: 108%;text-align: right;margin-bottom: 0.28cm;background: transparent;"><img src="{{logo_path}}" alt="Radian Logo"></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;">Mr. Partha Sengupta</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;">Address</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;">Address</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><u><strong>Dear Mr Sengupta</strong></u></p>
<p style="text-align: center;background: transparent;line-height: 108%;margin-bottom: 0.28cm;"><span size="4" style="font-size:19px;"><u><strong>Sub : Sanction letter for the loan availed by you as on 12/01/2024</strong></u></span></p>
<p style="text-align: center;background: transparent;line-height: 108%;margin-bottom: 0.28cm;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><em>We thank you for availing this loan from Radian Finserv Private Limited , as part of a special offer extended to your company. We are happy to sanction a loan amount of Rs __________(Rupees in words ____________).</em></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><em>By signing the loan agreement, you confirm that you have read &amp; accepted the terms &amp; conditions for this loan. The loan repayment will get due on the month end of XXX 2024, and will be paid from your salary accruals, the consent for which is already extended by you.</em></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><em>You can reach us at&nbsp;</em><span style="color: rgb(5, 99, 193);"><u><a href="mailto:XYX@radianfinserv.com"><em>XYX@radianfinserv.com</em></a></u></span><em>&nbsp;for any support or clarifications.</em></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><u><strong>Sincerely Yours</strong></u></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><u><strong>Radian Finserv Private Limited&nbsp;</strong></u></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><span style="color: rgb(255, 0, 0);">This is a computer generated letter and requires no signature</span></p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="line-height: 108%;text-align: left;margin-bottom: 0.28cm;background: transparent;"><br>&nbsp;</p>
<p style="text-align: center;background: transparent;line-height: 108%;margin-bottom: 0.28cm;"><span size="5" style="font-size:24px;"><strong>LOAN AGREEMENT</strong></span></p>
<p style="text-align: center;background: transparent;line-height: 108%;margin-bottom: 0.28cm;"><br>&nbsp;</p>
<ol>
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Background</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">This Loan Agreement (&ldquo;<strong>Agreement</strong>&rdquo;) is made and entered into on the [XXX 2024 between:</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">[Partha Sengupta] located at [Seetharamplaya , Bangalore] (&ldquo;<strong>Borrower</strong>&rdquo;); and</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">[Radian Finserv Private Limited ] located at [1st Floor Subbayana Palya, Banswadi, Bangalore (&ldquo;<strong>Lender</strong>&rdquo;).</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">The Lender agrees to loan a sum of INR xxx (&ldquo;<strong>Loan</strong>&rdquo;)to the Borrower in accordance with the terms set forth below.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<ol start="2">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Repayment</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><strong>Single Payment:&nbsp;</strong>The Loan together with accrued and unpaid interest and all other charges, costs, and expenses, is due and payable on demand of the Lender <strong>OR&nbsp;</strong>on or before [31<sup>st</sup> XXX 2024].</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<ol start="3">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Security</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">The loan is not secured by any collateral. The Loan is provided based on the Borrower&rsquo;s earnings and will be repaid with interest at the end of the month, through the salary payment cycle. The Borrower authorises the</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<ol start="4">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Guaranty</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">There is no guarantor.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<ol start="5">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Interest, Processing Fee</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">The principal balance shall bear interest at the rate of [24]% per annum, accruing daily.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">A processing fee would be charged to cover the operational expenses for the grant of the Loan.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Given the short term nature of the loan, and to simplify the process, the interest and processing fee would be taken from the loan amount at the start of the loan period, based on the table below:</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">INSERT fee table</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Notwithstanding, the total interest charged on the principal amount shall not exceed the maximum amount allowed by law.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">The Borrower is obligated to pay interest &amp; principal in case of default on repayment date.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.5cm;"><br></p>
<ol start="6">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Late Fee&nbsp;</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">A late fee of 2% per month (or part thereof) on Principal outstanding will be charged monthly in case of a default in repayment.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<ol start="7">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Prepayment</strong><u><strong>&nbsp;</strong></u></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Borrower has the right to prepay all or any part of the loan, together with accrued and unpaid interest at any time without penalty of premium of any kind.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="8">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Remedies</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Lender may enforce its rights or remedies in equity and/or law to enforce the payment of the Loan or any other legal right or remedy. The rights and remedies of Lender shall be cumulative and in addition to every other such right or remedy.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="9">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Costs and Expenses</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">In case of a delay in repayment of the Loan, Borrower shall pay to Lender all costs of collection, including reasonable attorney fees the Lender may incur in enforcing this Agreement.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="10">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>No Waiver</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Lender shall not be deemed to have waived any provision of this Loan Agreement or the exercise of any rights unless such waiver is made in writing. Waiver by Lender of a breach of this Agreement shall not constitute a waiver of any other breach or violation.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="11">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Severability</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">In the event that any of the provisions of this Agreement are found to be invalid or unenforceable in whole or in part, the remaining provisions shall not be affected and shall continue to be valid and enforceable as though the invalid and unenforceable parts had not existed.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="12">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Assignment</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Borrower shall not assign any part of this Agreement without the prior written consent of the Lender. However, the Lender may assign any part of this Agreement with written notice to the Borrower.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="13">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Governing Law</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">The terms of this Agreement shall be governed by and construed in accordance with the laws of the state of Karnataka, jurisdiction Bangalore courts.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;"><br></p>
<ol start="14">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Dispute</strong><strong>Resolution</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">Any suit involving any dispute or matter arising under this Agreement may only be brought in a United States District Court located in the State of Karnataka or any State Court in Bangalore having jurisdiction over the subject matter of the dispute or matter. All parties consent to the exercise of personal jurisdiction by any such court with respect to any such proceeding. All parties waive any right to trial by jury in connection with any action or proceeding relating to this Agreement.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.5cm;"><br></p>
<ol start="15">
    <li>
        <p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>Entire Agreement</strong></p>
    </li>
</ol>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 0.75cm;">This Agreement contains the entire understanding between the parties and cancels and supersedes all prior agreements of the parties, whether oral or written.</p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first stated above.</strong></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 1.27cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><strong>SIGNATURES</strong></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 1.27cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 1.27cm;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;margin-left: 1.27cm;"><br></p>
<table style="width: 100%" cellpadding="1">
    <tbody>
        <tr>
            <td style="border-top: none;border-bottom: 1px solid #000000;border-left: none;border-right: none;padding-top: 0cm;padding-bottom: 0.03cm;padding-left: 0cm;padding-right: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border-top: none;border-bottom: 1px solid #000000;border-left: none;border-right: none;padding-top: 0cm;padding-bottom: 0.03cm;padding-left: 0cm;padding-right: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
        </tr>
        <tr>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><strong>Borrower Signature</strong></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><strong>Borrower Full Name</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>
<table style="width: 100%" cellpadding="1">
    <tbody>
        <tr>
            <td style="border-top: none;border-bottom: 1px solid #000000;border-left: none;border-right: none;padding-top: 0cm;padding-bottom: 0.03cm;padding-left: 0cm;padding-right: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border-top: none;border-bottom: 1px solid #000000;border-left: none;border-right: none;padding-top: 0cm;padding-bottom: 0.03cm;padding-left: 0cm;padding-right: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
        </tr>
        <tr>
            <td >
                <p ><strong>RADIAN</strong></p>
            </td>


        </tr>
        <tr>

            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><strong>Lender&nbsp;Signature</strong></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><br></p>
            </td>
            <td style="border: none;padding: 0cm;">
                <p style="line-height: 115%;text-align: left;margin-bottom: 0.25cm;background: transparent;"><strong>Lender&nbsp;Full Name</strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style="line-height: 100%;text-align: left;margin-bottom: 0cm;background: transparent;"><br></p>