# TODO: add description for each library

Django==4.0.5
django-environ==0.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.27.2
# kiteconnect==4.1.0
# psycopg2==2.9.3
django-cors-headers==3.13.0
django-rest-passwordreset==1.3.0
django-filter==23.2
############################
# Need to confirm, used by gunicorn in docker container,
# so it is required inside container
############################
#eventlet==0.30.0
# dnspython==2.2.1
gevent==24.2.1
gunicorn==20.1.0
# gunicorn[eventlet]
urllib3<2
minio==7.1.16
paramiko>=3.4,<5
django-minio-storage==0.5.7
# kafka-python==2.0.2
# shortuuid==1.0.11


# celery==5.2.7
# django-celery-beat==2.3.0
# redis==4.3.4

# Use binary build to avoid local pg_config dependency
psycopg2-binary==2.9.9
django-oauth-toolkit==2.2.0
django-phonenumber-field==7.0.2
phonenumbers==8.11.0
pyotp==2.8.0
beautifulsoup4==4.11.2
lxml==5.2.1
xhtml2pdf==0.2.9
numpy==1.26.4
numpy-financial==1.0.0
xmltodict
num2words==0.5.13
############################
# Need to send firebase cloud messaging notification to frontend
############################
pyfcm==1.5.4

pdfkit==1.0.0
HTMLParser==0.0.2
fpdf2==2.7.3
dicttoxml==1.7.16
numpy_financial
python-dateutil


############################
# Used to convert pledge card html rendered pdf to image
############################
Wand


############################
# Used for Scheduling Jobs
############################
celery==5.3.6
django-celery-beat==2.3.0
redis==4.6.0




pandas==2.0.1
openpyxl==3.1.2
odfpy==1.4.1

############################
# Django Elasticsearch DSL is a package that allows indexing of django models in elasticsearch
############################

django-elasticsearch-dsl==8.0
django-elasticsearch-dsl-drf==0.22.5

## Note: AggsProxy issue arrives for latest version
elasticsearch-dsl==8.11.0


# Cipherpay
pyjwt==2.8.0
# pycrypto==2.6.1
pycryptodome==3.20.0
jwcrypto==1.5.6

django-simple-history==3.4.0

fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1

# Encrypted PDF
PyPDF2==3.0.1 

geopy==2.4.1
sentry-sdk[django]>=2.35.0

# Playwright browser automation
playwright

