<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radian Form</title>

</head>
​

<body>
    <div>

        <div>
            <div>
                <p>Application Date</p>
            </div>

            <div>
                <p>{{date}}</p>

            </div>
            <br>
            <div>Application Numberrr</div>
            <div>
                <p>{{application_number}}</p>
            </div>
            <div>Application Loan Amount</div>
            <div>
                <p>{{loan_amount}}</p>

            </div>

        </div>
        <div>

            <img src="logo.jpg">
        </div>
        <div>
            <h1>
                GOLD LOAN
            </h1>
            <h1>
                APPLICATION
                FORM</h1>
        </div>

        <div>
            <h4><i>Borrower's Name</i></h4>
        </div>
        <div>
            <div>
                <p>{{customer_name}}</p>

            </div>
            <hr>

        </div>
        <div>
            <p>Radian Finserv Private Limited </p>
        </div>
        <div>
            <p> Head Office : 1st Floor, CPN Arcade, No. 13, 7th Main
                Road,<br> Next to I DBI Bank, Subbayana Palya,
                Banaswadi, Bangalore 560033. </p>

        </div>
    </div>
</body>

</html>